VITE_SHOPIFY_STORE_DOMAIN=boldhouse-masnmd9c.myshopify.com
VITE_SHOPIFY_STOREFRONT_ACCESS_TOKEN=your-storefront-token
VITE_SHOPIFY_API_VERSION=2025-01

SANITY_PROJECT_ID=szr2k18n
SANITY_DATASET=production
SANITY_API_TOKEN=your-sanity-api-token
