---
layout: base.njk
title: "Manifesto"
ogImage: "https://cdn.prod.website-files.com/69e0fdfc6da92a5c220bbe58/69ee24394fe5acc3c9655fb8_OG_Bold.jpg"
navCurrent: manifesto
navTheme: light
---
    <div data-barba-namespace="manifesto" data-barba="container" class="barba-container">
      <main class="main-wrap">
        <section data-start="hidden" class="section_pricing bg-secondary">
          <div class="padding-global">
            <div class="container-medium">
              <div class="padding-section-hero">
                <p data-hero-heading="" data-split="" class="h3">{{ cms.manifesto.body | richInline | safe }}</p>
              </div>
            </div>
          </div>
        </section>
      </main>
      <div data-theme-page-to="dark" class="footer_container">
{% include "partials/cta.njk" %}
        {% include "partials/footer.njk" %}
      </div>
    </div>
  </div>
