        <section class="section_cta">
          <div class="padding-global">
            <div class="container-large">
              <div class="cta_component">
                <div class="cta_heading">
                  <div>
                    <div class="tagline font-serif"><span class="tagline_span">[ </span><span class="tagline_span">{{ site.cta.eyebrow }}</span><span class="tagline_span"> ]</span></div>
                    <div data-wf--spacer--variant="tiny-0-25rem" class="spacer w-variant-a65c8b2f-bb82-667a-21df-8f8b70978a4c"></div>
                  </div>
                  <h2 data-split="heading" class="h0">{{ site.cta.heading | breaks | safe }}</h2>
                </div>
                <div data-wf--button-group--variant="base" class="u-rel-z-3">
                  <div data-wf--spacer--variant="large-3rem" class="spacer w-variant-0b9907b0-2817-9a8a-5ef4-2bb04007c79d"></div>
                  <div class="button-group">
                    <div data-wf--button--variant="base">
                      <a aria-label="" href="{{ site.cta.buttonLink }}" class="button w-inline-block">
                        <div data-button-text="" class="button_text">{{ site.cta.buttonLabel }}</div>
                        <div class="button_bg"></div>
                      </a>
                    </div>
                  </div>
                </div>
                <div data-trail-area="" class="rotating-image-trail">
                  <div data-trail-collection="" class="rotating-image-trail__collection">
                    <div class="rotating-image-trail__list">
                      <div data-trail-item="" class="rotating-image-trail__item">
                        <div class="rotating-image-trail__card"><img loading="eager" src="images/image-4.avif" alt="" class="rotating-image-trail__card-img"></div>
                      </div>
                      <div data-trail-item="" class="rotating-image-trail__item">
                        <div class="rotating-image-trail__card"><img loading="eager" src="images/image-3.avif" alt="" class="rotating-image-trail__card-img"></div>
                      </div>
                      <div data-trail-item="" class="rotating-image-trail__item">
                        <div class="rotating-image-trail__card"><img loading="eager" src="images/Rectangle-2.avif" alt="" class="rotating-image-trail__card-img"></div>
                      </div>
                      <div data-trail-item="" class="rotating-image-trail__item">
                        <div class="rotating-image-trail__card"><img loading="eager" src="images/image-2.avif" alt="" class="rotating-image-trail__card-img"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
